<!DOCTYPE html><html lang="en" xmlns="http://www.w3.org/1999/xhtml">
                            <head>
                            <meta charset="utf-8" />
                                <title>Result</title>
                            </head>
                            <body style="background-image: radial-gradient(circle, #353535, #313439, #27343c, #19353b, #0a3535); padding:50px">
                                <div class="container" style="color:white"  font-size:20px; ">
                                    <h1  "><b>Prediction</b></h1>
                                </div>
                                <div class="container" style="width: 800px; margin-top:5%; margin-left:20%; color:white;">
                                    <table style = "border: 3px solid white;margin-left:auto;margin-right:auto; font-size:20px color:white; " id="table1"><th>Linear Regression Prediction</th><th>Lasso Regression Prediction</th><th>Ridge Regression Prediction</th><th>Average Prediction Value</th><tr style=" border: 1px solid white;"><td style="text-align:center; border: 1px solid white;">38.35</td><td style="text-align:center; border: 1px solid white;">37.99</td><td style="text-align:center; border: 1px solid white;">37.55</td><td style="text-align:center; border: 1px solid white;">37.96</td></tr></table>
                                </div>
            
                            </body>
                            </html>